body {
  font-family: sans-serif;
  background: #c00000;
  background: -webkit-linear-gradient(left, #c00000, #2E7F18);
  background: -moz-linear-gradient(left, #c00000, #2E7F18);
  background: -ms-linear-gradient(left, #c00000, #2E7F18);
  background: -o-linear-gradient(left, #c00000, #2E7F18);
  background: linear-gradient(to right, #c00000, #2E7F18);
}
